{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="content">
            {% for book in books %}
            <div class="book">
                <a href="{{ book.slug }}?page={{book.page_number}}">
                    <h2>{{ book.name }}</h2></a>
                <div class="author">Автор: {{book.author}}</div>
                <div class="pub_date">Дата публикации: {{book.pub_date}}</div>
            </div><br>
            {% endfor %}
        </div>
    </div>
{% endblock %}